@media screen and (max-width: 1199.99px) {
    .advantages-row {
        .accent-label__sm{
            top: -50px;
            left: -20px;;}
    }
    
    
    
    .footer-nav{
        max-width: 650px;
    }

}
 