@media screen and (max-width: 1024.99px) {
	header {
		padding: 32px 0;
        position: relative;
		> .container {
			gap: 0;
		}
      
	}
	.header-logo {
		max-width: 114px;
		
	}

	.menu-list {
		flex-direction: column;
	}
	.container {
		padding: 0 25px;
	}

	.mobile-container {
		position: absolute;
		left: 0;
		top: 0;
		background: #0b0c0dd1;
		width: 100%;
		padding: 25px 25px 75px;
		background-image: linear-gradient(
			267.2deg,
			rgba(35, 114, 73, 0.55) 3.05%,
			rgba(53, 198, 107, 0.73) 40.73%);
		backdrop-filter: blur(3px);
		transition: 0.3s;
		visibility: hidden;
		transform: translate(0, -100%);
		&.show {
			top: 90px;
			transform: translate(0, 0);
			visibility: visible;
		}
	}

	.btn-burger {
		width: 42px;
		height: 20px;
		position: relative;
        background-color: $bg-color;
        border: none;
        

      	span {
		position: absolute;
		height: 2px;
		width: 100%;
        background-image: linear-gradient(267.2deg, #237249 3.05%, #35C66B 75.72%);
        left: 0;
		top: 0;
		

		&:nth-child(2) {
			top: 9px;
			
		}

		&:last-child {
			top: 18px;
		}
	}
    &.active{
		
        span{
            transform: rotate(45deg);
            top: 8px;
			
            &:nth-child(2){
                top: 8px;
                transform: rotate(-45deg);
            }
            
            &:last-child{
                opacity: 0;
            }
        }

    }
    
	}

	.btn {
		
		font-size: 16px;
		
		&-outline{
		width: 53px;
		height: 53px;
		border-radius: 18px;
		
		svg {
			height: 22px;
		}}

		

		


	} 


	.banner{
		.container{
			flex-direction: column-reverse;
			align-items: center;
		}

		h1{
			font-size: min(12vw, 48px);
			margin-bottom: 36px;
			}

			&-desctiption{
				font-size: 12px;
				margin-bottom: 36px;
			}
		

		.banner-btn-group{
			gap: 10px;
			margin-bottom: 36px;
			
			
		}	
		&-img{
			padding: 0 27px;
			margin-right: initial;}

			
		.banner-discount{

			right: 55px;
		}
		.banner-img::before{
			display: none;
		}

		.banner-line{
			right: -320px;
			top: 157px;
			
		}


		.btn-primary{
			padding: 13px 4px;
			}

		.btn-secondary{
			padding: 13px 32px;
				
			}

		&-statistic-item{
			width: auto;
		}

		&-statistic__title{
			font-size: 42px;
		}
		&-statistic__subtitle{
			font-size: 12px;
		}
    }

	.footer{

		padding: 37px 0 7px;


		&__logo{
			max-width: 134px;
		}


		&-nav{
			order: 1;
			max-width: 100%;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			gap: 28px;
			padding: 38px 0 32px;
		}
		&-row{
			flex-wrap: wrap;
			margin-bottom: 0;
			
			.btn{
			margin-left: auto;}
	
		}

		.footer-nav__title,
		.footer-nav__link{
			font-size: 15px;

		}


		.footer-nav__colum{
			padding: 0;
		}

		.footer__phone-item{
			font-size: 16px;
		}

		.footer__social-item{
			height: 62px;
			width: 62px;

		}


		.btn{
			margin-top: -17px;
			
		}
	}


	
	
	
	     



}
