.banner{
   
    
    

   
    .container{
        display: flex;
        align-items: flex-start;
        gap: 24px;
        justify-content: space-between;
    }

    &-content{
        max-width: 574px;
    }


   
    .template-description{
        margin-bottom: 54px;
        &::before{
			content: "";
            @include template-light;
			transform: none;
			width: 586px;
            height: 653px;
			left: 0px;
			top: -200px;
            background: url(./assets/img/banner-decporation-title.png);
        }
       
    }

    
    &-btn-group{
        gap: 16px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 54px;
        position: relative;
        &::before{
			content: "";
            @include template-light;
			transform: translate(0, -50%);
			width: 603px;
            height: 603px;
			left: 100px;
			top: 0;
            background: url(./assets/img/banner-decoration-btn.png);
        }
        
    }
    &-statistics{
        display: flex;
        gap: 46px;

       
    }

    &-statistic-item{
        width: 126px;
    }

    &-statistic__title{
        font-size: 62px;
    }
    &-statistic__subtitle{
        font-size: 20px;
    }
    &-img{
        margin-right: 43px;
        position: relative;

        &::after{
            content: "";
            @include template-light;
            transform: translate(0, -50%);
            width: 479px;
            height: 479px;
            left: -160px;
            top: 160px;
            background: url(./assets/img/banner-decoration-img-small.png);

        }


        &::before{
            content: "";
            @include template-light;
            transform: translate(0, -50%);
            width: 676px;
            height:676px;
            left: -50px;
            z-index: -1;
            top: calc(100% - 115px);
            background: url(./assets/img/banner-decoration-img-medim.png);

        }

       
       
    }
    &-line{
        width: 1102px;
        height: 672;
        position: absolute;
        top: 200px;
        right: -350px;
        z-index: -1;
    }

    

}


.accent-label{
    top: 0;
    right: 38px;  
}
