@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Light.ttf') format('TrueType');
    font-weight: 300; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Regular.ttf') format('TrueType');
    font-weight: 400; 
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Medium.ttf') format('TrueType');
    font-weight: 500; 
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-SemiBold.ttf') format('TrueType');
    font-weight: 600; 
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-ExtraBold.ttf') format('TrueType');
    font-weight: 800; 
    font-style: normal;
    font-display: swap;
}

