header {
	position: relative;
	padding: 48px 0; 
	z-index: 2;


	>.container{
		--gap:72;
	}
    
    
   

	> .container {
		--gap: 94px;
		display: flex;
		text-align: center;
		gap: var(--gap);
		position: relative;

		
	}

   

	.btn-burger {
		margin-left: auto;
       
	}
   

}


.mobile-container {
	width: 100%;
	display: flex;
	gap: var(--gap);
	align-items: center;
	z-index: 2;

	.btn{
		margin-left: auto;
	}
}

.menu {
	&-list {
		display: flex;
		gap: var(--gap);
	}

	&__link {
		font-size: 20px;
		text-decoration: none;
		color: $tekst;

		&:hover {
			color: $secondary-color;
		}
	}
   
}

 


   