///fonts///
$font-primary: 'Montserrat';
$font-size: 16px;

///colors///
$primary-color: #238249;
$secondary-color: #35c66b;



$bg-color: #121517;
$bg-accent-color: #0b0c0d;
$tekst: #d9d9d9;
$title-color: #fff;

$section-margin: 100px;
$section-mobile-margin: 64px;


@mixin template-light{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: -1;
    background: center/contain , no-repeat;
}

// @mixin clip-1 {
//     -webkit-mask: url(../assets/img/we-make___bg.svg);
//     mask: url(../assets/img/we-make___bg.svg);
            
// }

.white-wrapper{
    background: linear-gradient(264.52deg, #FFFFFF 4.95%, #E5E5E5 64.19%, #FBFBFB 88.37%);
   
    h1, h2, h3, h4, h5, h6 {
        color:  #121517;    
    }
    p{
        color: #292C2E;
    }
}

