///fonts///
$font-primary: 'Montserrat';
$font-size: 16px;

///colors///
$primary-color: #238249;
$secondary-color: #35c66b;



$bg-color: #121517;
$bg-accent-color: #0b0c0d;
$tekst: #d9d9d9;
$title-color: #fff;


@mixin footer-light{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: -1;
    background: center/contain , no-repeat;
}

