<div id= "process" class="modal video">
    <button class="btn btn-close" data-modal-close>X</button>
    <div class="modal-content">
        
        <video id="video" src="../assets/img/test-video.mp4"  controls="true"></video>
        <div class="d-flex">
            <button id="play" class="btn btn-primary">
                <svg>
                    <use href="#play" ></use>
                </svg>
            </button>
            <button id="stop" class="btn btn-primary">
                <svg>
                    <use href="#stop" ></use>
                </svg>
            </button>
            <button id="pause" class="btn btn-primary">
                <svg>
                    <use href="#pause"></use>
                </svg>
            </button>
        </div>
        
        
    </div>
    <button class="btn btn-secondary" data-modal-close >close</button>
</div>

<div  id= "feedback" class="modal ">
    <div class="modal-content">
        <h2>feedback</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat amet nisi, est iste assumenda corporis asperiores itaque, unde eligendi molestiae culpa libero! Nulla, error inventore possimus esse autem aspernatur. Expedita?

    </div>
    <button class="btn btn-secondary" data-modal-close >close</button>
</div>