<div id= "process" class="modal">
    <button class="btn btn-close" data-modal-close>X</button>
    <div class="modal-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis expedita, recusandae doloribus doloremque, neque eius repellat nemo, est veritatis aliquid asperiores. Qui officiis tempora, repudiandae doloremque sint laboriosam saepe atque!
        Minima sit, quis voluptate vitae nulla saepe odit nihil, fugiat eveniet, magni cum provident adipisci. Dolor sequi nisi illo eum adipisci iure iusto tempore perferendis exercitationem dicta. Nulla, reiciendis incidunt.
        Deleniti tempore eligendi omnis repellendus. Numquam est cum recusandae delectus suscipit. Unde dolor rem nam quam. Soluta delectus nemo quam. Perspiciatis repudiandae laboriosam sed itaque magni dolores voluptas necessitatibus ea?
    </div>
    <button class="btn btn-secondary" data-modal-close >close</button>
</div>